# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [2]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? storeA
# Which store makes the most sales on average? storeB
# Which store sells the most during the week of March 13th, 2016? storeD
# In what week does store C make its worst sales? '2014-07-06' 
# Which store has the most sales in the latest 3-month period? storeA
# What is the most consistent store in sales ? storeB
# Given the information you gathered, what do you think is the best store financially? storeD

In [5]:
# import and load the data
import pandas as pd 
import matplotlib.pyplot as plt 
df =  pd.read_csv('store_data.csv')

In [6]:
# explore the data (gather as much information as you can)
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [59]:
# clean the data
df.isnull().sum()
#data is clean

week      0
storeA    0
storeB    0
storeC    0
storeD    0
storeE    0
dtype: int64

In [34]:
df.duplicated().sum()

0

In [70]:
# total sales for the last month
last_month=df.iloc[-4:]
last_month[last_month.columns[1:]].sum() #for each store

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [73]:
# average sales
(df[df.columns].sum() [1:] )/df.shape[0] #for each store

storeA     5865.48
storeB     6756.71
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: object

In [26]:
# sales on march 13, 2016
march = df[df['week'] == '2016-03-13']
march

          week  storeA  storeB  storeC  storeD  storeE
97  2016-03-13    2054    1390    5112    5513    2536

In [52]:
# worst week for store C
df['Total Sales'] = df[df.columns[1:]].sum(axis=1)
worst_week = df[df['storeC'] == df['storeC'].min()]['week'].values[0]
worst_week

'2014-07-06'

In [75]:
# total sales during most recent 3 month period
M3=df.iloc[-12:]
M3[M3.columns[1:]].sum() # for each store

storeA    82412
storeB    75544
storeC    60417
storeD    68412
storeE    27221
dtype: int64

In [60]:
# Go back to the top and answer the questions